html { 
  background: url(//getwallpapers.com/wallpaper/full/d/8/f/530899.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}